/* global */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a,
ul, li{
	list-style: none;
	text-decoration: none;
	color: black;
}

/* Body */
body {
	font-family: Poppins, sans-serif;
}


/* header */
nav .nav {
	display: flex;
	justify-content: space-between;
	background-color: white;
	box-shadow: 0 4px 16px rgb(48, 48, 48, .1);
	align-items: center;
	height: 64px;
	padding: 0 50px;
}

.logo-container h3 {
	font-size: 2em;
	color: salmon;
}

.menu a {
	font-size: 1em;
	color: rgb(21, 21, 21);
}

.menu a:hover {
	color: salmon;
}

.nav .menu {
	display: flex;
	align-items: center;
}

.menu ul {
	display: flex;
}

.menu ul li {
	margin-right: 24px;
}

.menu button {
	display: none;
}

/* Main */
main {
	width: 100%;
	min-height: 90vh;
	max-width: 1366px;
	margin: 0 auto;
	display: flex;
}

article {
	overflow: hidden;
	margin: 3rem;
	background-color: white;
	border-radius: 8px;
	border: 1px solid rgb(177, 177, 177);
	align-items: center;
	display: flex;
	max-width: 1024px;
	animation: slide-in 2s ease;
}

article:hover{
	border: 1px solid rgb(177, 177, 177, .5);
	transform: translateY(-5px);
	box-shadow: 0 5px 30px rgb(173, 173, 173, .3);
}

.article-img img {
		max-width: 25vw;
		display: block;
}

.article-post {
	margin: 0 20px;
	justify-content: space-between;
}

.post-date span {
	font-size: 0.8rem;
	color: rgb(131, 131, 131);
}

.post-date span:first-child{
	color: rgb(250, 126, 112, .7);
}

.post-title {
	font-size: 1.5em;
	color: rgb(26, 26, 26);
	margin: 5px 0;
}

.post-text {
	font-size: .9em;
	line-height: 2em;
}

.cta {
	margin: 10px 0;
	padding: 10px 20px;
	cursor: pointer;
}

.read {
	background-color: salmon;
	border: none;
	border-radius: 5px;
	color: white;
}

/* Aside */
.profile {
	margin-top: 3rem;
	background: white;
	margin-right: 48px;
	box-shadow: 0 4px 8px rgb(88, 88, 88, .2);
}

.profile img{
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 0 0 50% 50%;
	border: 2px solid rgb(182, 182, 182);
}

.profile-data h4{
	font-size: 1.5rem;
	color: #333;
	margin: 0 0;
	text-align: center;
}

.profile-data .job {
	color: #777;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.profile-data .about {
	font-size: .8rem;
	margin: 1.5rem 0;
	font-style: italic;
	text-align: center;
	color: #333;
}

.social-media {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0;
	margin-top: 1.5rem;
	border-top: 1px solid rgba(0,0,0,.1);
}

.fa-facebook-square{
	font-size: 1.5rem;
	color: #3b5999;
}

.fa-twitter-square{
	font-size: 1.5rem;
	color: #3b5999;
}

.fa-instagram{
	font-size: 1.5rem;
	color: #3b5999;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover{
    color: salmon;
}

/* Footer */
footer {
	display: block;
	background-color: white;
 	border-top: 1px solid #eee;
	height: 55px;
	padding: 20px 10%;
	font-size: 12px;
}

.left-footer {
float: left;
}

.left-footer a{
	color: salmon;
}

.list-inline{
	color: black;
}

.right-footer {
float: right;
}

.list-inline-item {
	display: inline-block;
}

.list-inline-item:not(:last-child) {
margin-right: 0.5rem;
}

@media screen and (min-width: 1367px) {
	.article-img img {
		max-width: 18vw;
	}

}

@media screen and (max-width: 768px){
	article {
		display: inline-block;
		margin-bottom: 0;
	}

	.article-img img {
		max-width: 367px;
	}

	.article-post button {
		margin-bottom: 16px;
	}

	footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

}

@keyframes slide-in {
	0% {
		transform: translateX(-50px);
		opacity: .3;
	}

	100% {
		transform: translateX(0);
	}
}